<div class="container mt-3">
    <h2>Login form</h2>
    <form action="register" method="post">
      {% csrf_token %}  
      <div class="mb-3 mt-3">
        <label for="username">Username:</label>
        <input type="username" class="form-control" id="email" placeholder="Enter Username" name="username">
      </div>
      <div class="mb-3">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
      <div class="mb-3">
        <label for="pwd">Email:</label>
        <input type="email" class="form-control" id="pwd" placeholder="Enter email" name="email">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  